<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
    <header>
    <a href="/" ><img class="logo" src="images/banner.jpeg" alt="Logo"></a>
        <div class="header-right">
            <a href="#contact"><i class="fa-solid fa-ticket"></i></a>
            <a href="#about"><i class="fa-solid fa-user"></i></a>
        </div>
    </header>
    <ul class="navbar">
        <li class="register"><a href="/register">Registrate</a></li>
        <li class="login"><a href="/login"> Ingresá </i></a></li>
        <li class="productCart"><a href="/productCart"> Mis compras </i></a></li>
    </ul>

</body>
</html>