<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Event | Register</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/stylesLogin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <header>
        <a href="/" ><img class="logo" src="images/banner.jpeg" alt="Logo"></a>
        <div class="menu-right">
            <div class="header-right">
                <a href="#contact"><i class="fa-solid fa-ticket"></i></a>
                <a href="#about"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="burguer-menu">
                <a href="" class = "hamburguer-button"><i class="fa-solid fa-bars"></i></a> 
            </div>
        </div>
    </header>
    <section class="register-section">
        <div class="container-signup">
            <form action="#">
                <div class="form-content">
                    <div class="signup-f">
                        
                    </div>
                    <a href="/">
                        <div class="image-container">
                        </div>
                    </a>
                    <div class="signup-form">
                        <div class="input-boxes">
                            <h3 class="title">Sign up</h3>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your password" required>
                            </div>
                            <button type="submit">Sign up</button>
                            <div class="text">Already have an account? 
                                <a href="/login">Login now</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <a href="/" ><img class="logo" src="images/banner.jpeg" alt="Logo"></a>
        <div class="info-center-left">
            <a href="#contact">¿Quienes somos?</a>
            <a href="#about">Terminos de uso</a>
        </div>
        <div class="info-center-right">
            <a href="#contact">Preguntas frecuentes</a>
            <a href="#about">¿Quieres vender con nosotros?</a>
        </div>
        <div class="social-media">
            <a href="" class = "facebook"><i class="fa-brands fa-facebook-f"></i></a> 
            <a href="" class = "instagram"><i class="fa-brands fa-instagram"></i></a> 
            <a href="" class = "mail"><i class="fa-solid fa-envelope"></i></a> 
        </div>
    </footer>
</body>
</html>