<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Event | Register</title>
    <link rel="stylesheet" href="css/stylesRegister.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
    <div class="container">
        <form action="#">
            <div class="form-content">
                <div class="signup-f">
                    
                </div>
                <a href="/">
                    <div class="image-container">
                    </div>
                </a>
                <div class="signup-form">
                    <div class="input-boxes">
                        <h3 class="title">Sign up</h3>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your password" required>
                        </div>
                        <button type="submit">Sign up</button>
                        <div class="text">Already have an account? 
                            <a href="/login">Login now</a> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>