/**{
    margin: 0px;
    padding: 0px;
    
}


body {
    position: relative;
}
main section article :hover .description{
    display: block;
}

main section article :hover {
    box-shadow: 0px 0px 15px black;
}
h2.description{
    display:none;
    margin-top: 20px;
}
    
    
body {
    position: relative;
}



  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080200;
    padding: 0 20px;
}



header i {
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

header .header-right {
    display: none;
}

header .menu-right {
    display: flex;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080200;
    padding: 0 20px;
}

footer img {
    width: 150px;
}

@media (min-width: 481px) {

    header .header-right {
        display: block;
    }

    header .burguer-menu {
        display: none;
    }

}
*/