*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #162D50;
}

section {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
}

.container-login,
.container-signup{
    position: relative;
    max-width: 860px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-login form,
.container-signup{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.container-login .form-content,
.container-signup .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


form h3{
    font-size: 24;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid grey;
}

.form-content .input-box i{
    position: absolute;
    font-size: 17px;
}

form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

form .form-content .text a{
    text-decoration: none;
}

form .form-content .login-button{
    margin-top: 30px;
}

form .form-content button{
    color: white;
    background: #00778A;
    border-radius: 12px;
    padding: 8px 0;
    width: 100%;
    transition: background 450ms;
}

form .form-content button:hover{
    background: #008599;
}

.container-login .image-container,
.container-signup .image-container{
    display: none;
}

.form-content .login-form,
.form-content .signup-form,
.form-content .image-container{
    width: 100%;
}

footer{
    padding: 20px;
    display: flex;
}

footer .info-center-left,
footer .info-center-right{
    display: flex;
    flex-direction: column;
}

footer .info-center-left a,
footer .info-center-right a{
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

footer i{
    padding-left: 10px;
    font-size: 30px;
    color: white;
}

@media (min-width: 481px) {

    .container-login .image-container{
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        z-index: 98;
        background-position: center;
        background-image: url(../images/concierto2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-signup .image-container{
        position: absolute;
        display: block;
        top: 0;
        left: 0%;
        height: 100%;
        width: 50%;
        z-index: 98;
        background-position: center;
        background-image: url(../images/concierto.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-content .signup-form,
    .form-content .login-form{
        width: 45%;
    }

}
