* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #162D50;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 300px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080200;
    padding: 0 20px;
}

header img {
    width: 150px;
}

header i {
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

header .header-right {
    display: none;
}

header .menu-right {
    display: flex;
}

footer {
    flex-direction: column;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080200;
    padding: 20px 20px;
    position: absolute;
}

footer img {
    width: 150px;
}

footer .info-center-left,
footer .info-center-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .info-center-left a,
footer .info-center-right a{
    align-items: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

footer i{
    padding-left: 10px;
    font-size: 30px;
    color: white;
}

.contenedor-header {
    display: flex;
    position: relative;
}

.logout {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 500px;
    left: 960px;

}

.user-login {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 500px;
    left: 890px;
}

header .ticket-icon {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 500px;
    left: 820px;
}

.banner {
    display: flex;
    position: relative;

}

.logos {
    box-sizing: border-box;
}

.concierto-contenedor {
    display: flex;
    position: relative;
}

.imagen-concierto {
    display: flex;
    position: relative;
}

main .fa-solid  {
    display: flex;
    position: relative;
}

.description {
    display: flex;
    position: relative;
}

.fecha {
    display: flex;
    position: relative;
}

.hora {
    display: flex;
    position: relative;
}

.lugar {
    display: flex;
    position: relative;
}

.product_img-carrito {
    width: 50%;
    display: flex;
}

.contenedor-articulo-carrito {
    display: flex;
    padding: 20px;
    margin: auto;
    margin: 10px;

}

div .main-article {
    display: grid;
    color: #ca4b40;
    font-size: x-large;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    background-color: #ffff;
    width: 50%;
    text-align: center;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.h3-carrito {
    color: #ca4b40;
    background-color: #e7b698;
    text-align: center;
    font-size: larger
}

.imprimi {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

div .main-article-home {
    display: grid;
    color: #ca4b40;
    font-size: x-large;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    background-color: #ffff;
    width: 100%;
    text-align: center;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
}
img.product_img-carrito-home {
    width: 100%;
}

article.contenedor-articulo-carrito-home{
    margin: 5%;
}

@media (max-width: 481px) {
    .contenedor-articulo-carrito {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: auto;
        margin: 10px;
    }

    .contenedor-articulo-carrito-home {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: auto;
        margin: 10px;
    }

    .product_img-carrito {
        width: 100%;
        display: flex;
    }
    
   
    div .main-article {
        width: 100%;
        padding-left: 0px;
        margin: 0px;
    }

    div .main-article-home {
        width: 100%;
        padding-left: 0px;
        margin: 0px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1f1f1f;
    color: #fff;
    overflow: hidden;

}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style-type: none;

}

.container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), url('../images/music.jpg');
    background-size: cover;


}

.container .main-article {

    color: #ca4b40;
    display: flex;
    margin: 0px;
    width: 100%;
    height: 50vh;
    text-align: center;
    background: none;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.container .main-article input {
    width: 80%;
    padding: 12px 20px;
    font-size: x-large;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #ECECEC;
    opacity: 0.85;
    box-sizing: border-box;

}

.eventos-cercanos {
    display: flex;        
    width: 100%;

    align-items: center;
    justify-content: space-between;
    padding: 10px;
    

}

.eventos-cercanos .column {
    float: left;
    width: 25%;
    padding: 2rem;
    
  }
  
  /* Remove extra left and right margins, due to padding */
  .eventos-cercanos .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .eventos-cercanos .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  

  body{
    font-family:sans-serif;
 }
 
 .description-detail
    {
    background-color:#e7b698;
    height: 15vh;
    flex-direction: center;
    justify-content:space-around;
    align-items:center;
    text-align: center;

     }
     /*body details descripcion*/
    p {font-family: 'Roboto', sans-serif;
     color: black;
     background-color: white
   }
   #titulo {color: #ca4b40;
    background-color:#e7b698
    
  } 
  .promo h4{
    position: center;

  } 
  /*.contenedor-boton details{
   
    margin-left: auto;
    margin-right: auto;
    
   
  }*/


.product_img-detail{
    width: 100%;
}

.medio-de-pago {
    /*display: flex;*/
    flex-wrap: flex;
    flex-flow: column;
    align-items: center;
    background-color: ca4b40;
    background-color: #ca4b40;
    font-size: 20px;
}
.comprar {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
     color: black;
    background: #00778A;
    border-radius: 10px;
    padding: 5px 0;
    width: 100%;
    transition: background 50ms;
      

}

.conciertos-recomendados {
    padding-bottom: 300px;
}
.descarga {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}
.compra-carrito {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}


/* CSS de Login y Register */

.login-section,
.register-section {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
}

.container-login,
.container-signup{
    position: relative;
    max-width: 860px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-login form,
.container-signup{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.container-login .form-content,
.container-signup .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


form h3{
    font-size: 24;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid grey;
}

.form-content .input-box i{
    position: absolute;
    font-size: 17px;
}

form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

form .form-content .text a{
    text-decoration: none;
}

form .form-content .login-button{
    margin-top: 30px;
}

form .form-content button{
    color: white;
    background: #00778A;
    border-radius: 12px;
    padding: 8px 0;
    width: 100%;
    transition: background 450ms;
}

form .form-content button:hover{
    background: #008599;
}

.container-login .image-container,
.container-signup .image-container{
    display: none;
}

.form-content .login-form,
.form-content .signup-form,
.form-content .image-container{
    width: 100%;
}

@media (min-width: 481px) {

    .container-login .image-container{
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        z-index: 98;
        background-position: center;
        background-image: url(../images/concierto2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-signup .image-container{
        position: absolute;
        display: block;
        top: 0;
        left: 0%;
        height: 100%;
        width: 50%;
        z-index: 98;
        background-position: center;
        background-image: url(../images/concierto.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-content .signup-form,
    .form-content .login-form{
        width: 45%;
    }

    header .header-right {
        display: block;
    }

    header .burguer-menu {
        display: none;
    }

    .conciertos-recomendados {
        padding-bottom: 300px;
    }

    main {
        padding-bottom: 20%;
    }
}



@media (min-width: 769px) {
    footer{
        flex-direction: row;
        position: absolute;
    }
}

/*************************************************
**************************************************
++++++++++++          HOME           +++++++++++++
**************************************************
**************************************************/


/* Style the counter cards */
  

.card-row{
    margin-top:5%;
    margin-bottom:5%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    grid-gap:10px;
    justify-content: space-between;
}
.card-row .card {
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
      border-radius: 8px; 
    height: 25vh;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .card-row {
       grid-template-columns: repeat(1, 1fr); 
    }
  }

 

.carrousel {
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;

}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
    background: #4c9e9e;

}


a {
    text-decoration: none;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 3em;
    color: #e7b698;
    overflow: hidden;
    scroll-behavior: smooth;

}

.conteCarrouselController > a:hover, .conteCarrouselController > a.activo {
    text-decoration: none;
    font-size: 3em;
    color: #4c9e9e;
    font:bold;

}

.itemCarrouselArrows > a > i{
    color: white;

}

button#flecha-izquierda , 
button#flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 20px;
    height: 50%;
    top: calc(50% - 25%); 
    line-height: 40px;
    width: 40px;
    color: coral;
    cursor: pointer;
    z-index: 500;
    transition: .2 ease all;

}

button#flecha-izquierda:hover , 
button#flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

button#flecha-izquierda{
    left: 0
}

button#flecha-derecha{
    right: 0
}

.product_img-carrousel {
    width: 100%;;
    position: absolute;
    height: 100%;
}





@media (min-width: 800px ) {

    button#flecha-derecha , button#flecha-izquierda  {
        display: none}
    
    .conteCarrousel{
            width: 100%;
            height: 400px
            
        }

    .product_img-carrito-home{
        width: 100%;
        display: flex;
        box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    }

    .productos-home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;}

    .carrousel {
        display: none;
    }

    div .main-article-home {
        display: none;
    }
    
    .contenedor-articulo-carrito-home {
        display: flex;
        margin: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0, .3);
        transition: .3s ease all;
    }

    .contenedor-articulo-carrito-home:hover{ 

        transform: scale(1.2);
        transform-origin: center;
        background-color: #4c9e9e;
        padding: 5px;
    }

    .contenedor-home1- {
        margin-left: 20px;
        margin-right: 20px;
    }
}


/*------>contenedor titulo  y controles ----------/

.carrousel-titulo-controlador{

    display: flex;
    justify-content: space-between;
    align-items: end;

}

.carrousel-titulo-controlador h2 {
    color: #e7b698;
    font-size: 20px;
}

.carrousel-titulo-controlador button {
    background: #ffff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.carrousel-titulo-controlador button:hover, 
.carrousel-titulo-controlador button.activo {
    background: #ca4b40;}

   
/*----->carrousel ----------

.conciertos-recomendados-contenedor .contenedor-carrousel{
    width: 100%;
    padding: 20px 0;

    
}

.conciertos-recomendados-contenedor .carrousel{
    display: flex;
    flex-wrap: nowrap;
}


/*----->contenedor principal y flechas ------------
.conciertos-recomendados-contenedor{
    margin-bottom: 70px;

}

.conciertos-recomendados-contenedor .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
    
}





/* ---- ----- ----- Media Queries ----- ----- ----/


    .conciertos-recomendados-contenedor .flecha-izquierda,
    .conciertos-recomendados-contenedor .indicadores,
    .conciertos-recomendados-contenedor .flecha-derecha {
        display: none;
    }
} --->
*/