*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 30px;
}

.container{
    position: relative;
    max-width: 860px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container form{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form h3{
    font-size: 24;
    font-weight: 500;
    color: #333;
    margin-bottom: 30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid grey;
}

.form-content .input-box i{
    position: absolute;
    font-size: 17px;
}

form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

form .form-content .text a{
    text-decoration: none;
}

form .form-content .login-button{
    margin-top: 30px;
}

form .form-content button{
    color: white;
    background: blueviolet;
    border-radius: 12px;
    padding: 8px 0;
    width: 100%;

}

.container .image-container{
    display: none;
}

.form-content .login-form,
.form-content .image-container{
    width: 100%;
}

@media (min-width: 481px) {

    .container .image-container{
        display: block;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        z-index: 98;
        background-image: url(../images/banner.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-content .login-form{
        width: 45%;
    }

}
