*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080200;
    padding: 0 20px;
}

header img{
    width: 150px;
}

header i{
    font-size: 30px;
    color: white;
    padding-right: 20px;
}

header .header-right{
    display: none;
}

header .menu-right{
    display: flex;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080200;
    padding: 0 20px;
}

footer img{
    width: 150px;
}

@media (min-width: 481px) {

    header .header-right{
        display: block;
    }

    header .burguer-menu{
        display: none;
    }

}


.contenedor-header{
    display: flex;
    position: relative;
}

.logout {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 500px;
    left: 960px;
    
}

.user-login {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 500px;
    left: 890px;}

header .ticket-icon {
    display: flex;
    position: absolute;
    font-size: 40px;
    padding: 5px;
    top: 500px;
    left: 820px;
}

.banner {
    display: flex;
    position: relative;
    
}
.logos {
    box-sizing: border-box;
}



/*body*/
body{
    background-color: #162D50;
    font-family: 'Roboto', sans-serif;
    
}

.concierto-contenedor {
    display: flex;
    position: relative;
}

.imagen-concierto {
    display: flex;
    position: relative;
}
.fa-solid {
    display: flex;
    position: relative;
}
.description {
    display: flex;
    position: relative;
}
.fecha {
    display: flex;
    position: relative;
}
.hora {
    display: flex;
    position: relative;
}
.lugar {
    display: flex;
    position: relative;
}

.product_img-carrito {
    width: 50%;
    display: flex;
}

.contenedor-articulo-carrito {
    display: flex;
    padding: 20px;
    margin: auto;
    margin: 10px;
}

div .main-article{
    display: grid;
    color: #ca4b40;
    font-size: x-large;
    margin: 5px;
    padding: 0px;
    padding-left: 10px;
    background-color: #ffff;
    width: 50%;
    text-align: center;
}

h3 {
    color: #ca4b40;
    background-color: #e7b698;
    text-align: center;
    font-size: larger
}

.imprimi {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}