<footer>
    <a href="/" ><img class="logo" src="/images/banner.jpeg" alt="Logo"></a>
    <div class="info-center-left">
        <a href="/about-us">¿Quienes somos?</a>
        <a href="/contact">Contacto</a>
    </div>
    <div class="info-center-right">
        <a href="#contact">Preguntas frecuentes</a>
        <a href="#about">¿Quieres vender con nosotros?</a>
    </div>
    <div class="social-media">
        <a href="" class = "facebook"><i class="fa-brands fa-facebook-f"></i></a> 
        <a href="" class = "instagram"><i class="fa-brands fa-instagram"></i></a> 
        <a href="" class = "mail"><i class="fa-solid fa-envelope"></i></a> 
    </div>
</footer>