<nav class="navbar">
    <ul class="nav-links">
        <div class="menu">
        <li class="register"><a href="/register">Registrate</a></li>
        <li class="login"><a href="/login"> Ingresá </i></a></li>
        <li class="productCart"><a href="/event/cart"> Mis compras </i></a></li>
        </div>
    </ul>
</nav>