<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Mi perfil'}) %>
<body>
 <!-- Header -->
 <%- include('../partials/header') %>
 <!-- Header -->

    <section class="login-section">
        <div class="container-login">
            > <a href="/user/profile/edit">Editar mis datos</a>
            > <a href="">Editar mi contraseña</a>
            <div class="user-title">
                <h1>Editar mi contraseña</h1>
            </div>
            <div>
                <form action="/user/profile/edit" method= "POST">
                    <div class="input-profile-container">
                        <div class="input-profile-field">
                            <label for="fist-name">Nueva Contraseña </label>
                            <div class="input-box">
                                <input 
                                    type="text" 
                                    placeholder="Enter your email" 
                                    name="fist-name"
                                >
                            </div>
                        </div>
                        <div class="input-profile-field">
                            <label for="last-name">Confirmación de la nueva contraseña </label>
                            <div class="input-box">
                                <input 
                                    type="text" 
                                    placeholder="Ingresa tus apellidos" 
                                    name="last-name"
                                >
                            </div>
                        </div>
                    </div>         
                    <div class="input-profile-container">
                        <div class="input-profile-field">
                            <label for="email">Contraseña actual </label>
                            <div class="input-box">
                                <input 
                                    type="text" 
                                    placeholder="Enter your email" 
                                    name="email"
                                >
                            </div>
                        </div>
                    </div>
                    <button class="login-button" type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- Footer -->
</body>
</html>