<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('../partials/head', {title: 'Login'}) %>
<body>
 <!-- Header -->
 <%- include('../partials/header') %>
 <!-- Header -->

    <section class="login-section">
        <div class="container-login">
            <form action="/user/login" method= "POST">
                <div class="form-content">
                    <div class="login-form">
                        <div class="input-boxes">
                            <h3 class="title">Login</h3>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fa-solid fa-lock"></i>
                                <input type="text" placeholder="Enter your password" required>
                            </div>
                            <div class="text">
                                <a href="#">Forgot password?</a>
                            </div>
                            <button class="login-button" type="submit">Login</button>
                            <div class="text">Don't have an account? 
                                <a href="/register">Signup now</a>
                            </div>
                        </div>
                    </div>
                    <a href="/">
                        <div class="image-container">
                        </div>
                    </a>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <!-- Footer -->
</body>
</html>