<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: '404 Error'}) %>
<body class="error-body">
    <div class="error-container">
        <div class="error-message">
            <h1>Oooooops!</h1>
            <br>
            <h2>Al parecer estas intentando ingresar a una página que no existe</h2>
            <h2>Pero no te preocupes, aqui abajo puedes ir a la sección de home</h2>
            <br><br>
            <button>Home</button>
        </div>
        <div class="error-image">
            <img src="/images/global/404.png" alt="404">
        </div>
    </div>
</body>
</html>