<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs')-%>
    <body>
        <%- include('./partials/header.ejs')-%>
        <div class="sub-header">
            <h2> Nosotros </h2>
        </div>

            <section class="box-content-about">
                <div class="box-text-about">
                    <p> </p>
                </div>

                <div class="box-img-about">
                    <img src="/images/generic-image.jpg" alt="Banner Nosotros" class="img-about">
                </div>

                <div class="box-img-about">
                    <img src="/images/generic-image.jpg" alt="Banner Nosotros" class="img-about">
                </div>

                <div class="box-text-about">
                    <p>E </p>
                </div>

            </section>

            <h3 class="titulo-seccion">INTEGRANTES</h3>

            <section class="box-content-about2">
                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/.jpg" alt="KAREN" class="imagen-socio"></a>
                    <h3 class="titulo-socio">  </h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/.jpg" alt="YURIANA" class="imagen-socio"></a>
                    <h3 class="titulo-socio"> </h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/.jpg" alt="ANDRES" class="imagen-socio"></a>
                    <h3 class="titulo-socio"> </h3>
                </div>
                
                <div class="estilos-imagenes">
                    <a href="#"><img src="/g" alt="JAN" class="imagen-socio"></a>
                    <h3 class="titulo-socio"></h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/.jpg" alt="" class="imagen-socio"></a>
                    <h3 class="titulo-socio"></h3>
                </div>

            </section>

            </body>

            <%- include('./partials/footer')-%>
        </html>
