<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head', {title: 'Crear evento'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
        <div class="sub-header">
            <h2> Nosotros </h2>
        </div>

            <section class="box-content-about">
                <div class="box-text-about">
                    <p> </p>
                </div>

                <div class="box-img-about">
                    <img src="/images/banner.jpg" alt="Banner Nosotros" class="img-about">
                </div>

                <div class="box-text-about">
                    <p>E </p>
                </div>

            </section>

            <h3 class="titulo-seccion">INTEGRANTES</h3>

            <section class="box-content-about2">
                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/banner.jpeg" alt="Ramón de Jesús" class="imagen-socio"></a>
                    <h3 class="titulo-socio">  </h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/banner.jpeg" alt="Lorena Cabrera" class="imagen-socio"></a>
                    <h3 class="titulo-socio"> </h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/banner.jpeg" alt="Janneth Cadima" class="imagen-socio"></a>
                    <h3 class="titulo-socio"> </h3>
                </div>
                
                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/banner.jpeg" alt="Yakov Castañeda" class="imagen-socio"></a>
                    <h3 class="titulo-socio"></h3>
                </div>

                <div class="estilos-imagenes">
                    <a href="#"><img src="/images/banner.jpeg" alt="" class="imagen-socio"></a>
                    <h3 class="titulo-socio"></h3>
                </div>

            </section>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
            </body>
        </html>
