<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head', {title: 'Crear evento'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
        <div class="sub-header">

            
           
        </div>

        <div class= imagenQuienesSomos>
  
            <a href="#"><img src="/images/banner.jpeg" alt="Lorena Cabrera" class="imagen-socio"></a>
            <h3 class="titulo-socio"> </h3>
        </div>





        <div class="PanelAcercaDeNosotros">
  
        <h2> QUIENES SOMOS </h2>
       
            <br>
        
        <div aling = "justify">
        <p> Somos una empresa de venta de tickets que trabaja para convertirse en una solución integral de servicio. Queremos hacer de la compra de entradas una experiencia sencilla, segura, práctica y placentera. 
            Los consumidores esperan de nosotros no solo un ticket, sino también información sobre temas de su interés, beneficios, servicios y espacios de participación. </p>

        <p> Integramos un grupo internacional vinculado a todo tipo de eventos y espectáculos: música, deportes, teatro, exposiciones y presentaciones de todo tipo.</p>
        <p> Entendemos el sector porque somos parte de él. Nos preparamos para ofrecer servicios diferenciados, en beneficio de Productores, Artistas, Patrocinadores y Público.</p>
        
        <p>Invertimos tiempo y recursos en una búsqueda incansable de procesos y vínculos cada vez más amigables, con un nivel de disponibilidad siempre creciente, en entornos seguros. Estamos atentos a las nuevas tecnologías pero especialmente a las nuevas formas de relaciones sociales.</p>
        <p> Llegamos para innovar. </p>
        </div>
        </div>

            <section class="box-content-about">
                <div class="box-text-about">
                    <p> </p>
                </div>

                

                <div class="box-text-about">
                   <br>
                   <br>
                </div>

            </section>
            <section class="FUNDADORES">
            <h3 class="titulo-seccion">SOCIOS Y FUNDADORES.</h3>
            <br>
            <br>

            <p>* Ramón de Jesús Ortega: Es un joven mexicano que estudio la Licenciatura en Física y que tiene más de dos años programando. <br>
                 Actualmente se encuentra desarrollando aplicaciones moviles hibridas con Flutter de manera freelance. <br>
                Le gusta escuchar música y aprender nuevas cosas. </p><br>
            <p>* Lorena Cabrera: Es una abogada, especializada en derecho de Familia, Sucesiones, demanda civiles, y litigios laborales, <br>
                además, trabaja en una gestoria Judicial, dedicada al diligenciamiento de diversos tramites, tanto presenciales, <br>
                como diligenciamientos web. Le gustan los animales y disfrutar de la vida en familia.</p><br>
            <p>* Janneth Cadima: Es licenciada en turismo con muchos años de trayectoria en el rubro, vive en Buenos Aires, Argentina.<br>
                 Actualmente iniciandose en el mundo de la programacion; amante del deporte y viajes.</p><br>
            <p>* Adolfo Yakov Castañeda Navarrete: Ing. en Computación nacido en Guadalajara, México, con experiencia en desarrollo web y bases<br>
                 de datos. Actualmente interesado en aprender nuevas tecnologías como React  Nodejs</p><br>

              
            </section>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
            </body>
        </html>
