<!--FALTA CSS -->
<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head', {title: 'Crear evento'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

<section class="login-section">
    <div class="container-login">
        <form  class="form-contacto" action="/" method="POST">
            <div class="form-content">
                <div class="login-form">
                    <div class="input-boxes">
                        <div class="sub-header">
                            <h2>CONTACTO</h2>
                        </div>
                        <div class="input-box">
                            <label class="form-label-hide" for="nombre">Nombre completo</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre completo" required>
                        </div>
            
                        <div class="input-box">
                            <label class="form-label-hide" for="email">Email</label>
                            <input type="text" name="email" id="email" placeholder="Ingrese su correo electrónico" required>
                        </div>
                            
                        <div class="input-box">
                            <label class="form-label-hide" for="telefono">Telefono</label>
                            <input type="text" name="telefono" id="telefono" placeholder="Ingrese su teléfono" required>
                        </div>
            
                        <div class="input-box">
                            <label class="form-label-hide" for="mensaje">Mensaje </label>
                            <textarea name="mensaje" id="mensaje" placeholder="Ingrese su consulta" required rows="4" cols="50"></textarea>
                        </div>
            
                                 
                        <p>
                            <input class="btn-form2" id="enviar" type="submit" name="enviar" value="ENVIAR">
                        </p>  
                    </div>
                </div>
            </div>                      
        </form>
        
    </div>
</section> 

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>

