<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Crear evento'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<div class="events-wrapper">
		<div class="event-title">
			<h2 class="events-title">Formulario de creación de Eventos</h2>
		</div>
		<br>
		<div class="form-container">
			<form action="/event/create/" method="POST" enctype="multipart/form-data">

				<div class="event-detail">
					<strong><%=  mensaje %></strong>
					<div class="form-field">
						<label for="title" class="form-label">Nombre del evento:</label>
						<input type="text" id="title" name="title" value="" class="form-input" required>
					</div>
					<div class="form-field">
						<label for="main_img" class="form-label">Imagén principal del evento:</label>
						<input type="file" id="main_img" name="main_img" value="" class="form-input" >
					</div>
					<div class="form-field">
						<label for="date" class="form-label">Fecha del Evento:</label>
						<input type="date" id="date" name="date" value="" class="form-input"  required>
					</div>
					<div class="form-field">
						<label for="cost" class="form-label">Precio del evento:</label>
						<input type="text" id="cost" name="cost" value="" class="form-input"  required>
					</div>
					<div class="form-field">
						<label for="ubication" class="form-label">Ubicación:</label>
						<input type="text" id="ubication" name="ubication" value="" class="form-input"  required>
					</div>
					<div class="form-field">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input"  required>
							<option value="">Elegí</option>
							
								<option value="cine">Cine</option>
								<option value="music">Música</option>						
							
						</select>
					</div>
					<div class="form-field">
						<label for="description" class="form-label">Descipción:</label>
						<input type="text" name="description" id="description" class="form-input" value=""  required></input>
					</div>
					<div class="button-field">
						<button type="submit" class="save-button">Guardar evento</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los eventos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>