<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
    <!-- Header -->
      <%- include('partials/header') %>
    <!-- Header -->

    <nav class="navbar">
    <ul class="nav-links">
        <div class="menu">
        <li class="register"><a href="/register">Registrate</a></li>
        <li class="login"><a href="/login"> Ingresá </i></a></li>
        <li class="productCart"><a href="/product/cart"> Mis compras </i></a></li>
        <li class="productDetail"><a href="/product/detail">Producto</a></li>
        <li class="index1"><a href="/product/index1">home2</a></li>
        </div>
    </ul>
    </nav>
    <main>
        <section class="container">    
          <div class="main-article">
            <input type="text" placeholder="Buscar Artista o Evento" />  
          </div>
        </section>
        
        <section class="card-row">
          <article class="card">
            <div class="row">
              <div class="column">
                  
                  
                  <img src="images/duki.jpeg" alt="Duki" class="product_img-carrito">
                  
                  <p>
                      
                      Duki en Buenos Aires</p>
              </div>
            </div>
          
          </article>
          <article class="card">
            <div class="row">
           
                <div class="column">
                    
                    <p><img src="images/tacuba2.jpg" alt="Duki" class="product_img-carrito"></p>
                    
                    <p>
                        
                        Cafe tacuba en Guadalajara</p>
                  
                </div>
              </div>
              </article> 
              
              <article class="card">
                <div class="row">
                 
                <div class="column">
                    
                    <p><img src="images/rosalia.jpeg" alt="Rosalia" class="product_img-carrito"></p>
                    <p>La Rosalía regresa a Argentina</p>
                  
                </div>
              </div>
            </article> 
            
            <article class="card">
              
                <div class="column">
                  
                    <p><img src="images/primavera-sound.jpeg" alt="Rosalia" class="product_img-carrito"></p>
                    <p>Primavera sound en concierto</p>
                  
                </div>
              </div>
            </div>
          </article> 
          

        </section>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->

</body>
</html>