<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    
    <title>Home</title>
</head>
<body>
     <!-- Header -->
     <%- include('partials/header') %>
     <!-- Header -->
 
    <nav class="navbar">
        <ul class="nav-links">
            <div class="menu">
            <li class="register"><a href="/register">Registrate</a></li>
            <li class="login"><a href="/login"> Ingresá </i></a></li>
            <li class="productCart"><a href="/product/cart"> Mis compras </i></a></li>
            <li class="productDetail"><a href="/product/detail">Producto</a></li>
            </div>
        </ul>
    </nav>
    <main>
        <section class="container">
            <div class="main-article">
                <input type="text" placeholder="Buscar Artista o Evento" />  
            </div>
        </section>
        <section class="conciertos-home">
            <div class="carrousel">
                <div class="grande">
                    <img src="#" alt ="Imagen 1" class="img">
                    <img src="#" alt ="Imagen 2" class="img">
                </div>

                <ul class="puntos">
                    <li class="punto"></li>
                    <li class="punto"></li>
                </ul>



                <div class="productos">
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/duki.jpeg" alt="Duki" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Duki</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/rosalia.jpeg" alt="Rosalia" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Rosalia</h4>
                                <h5 class="fecha"> 10 de Diciembre </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/yatra.jpeg" alt="yatra" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Sebastian Yatra</h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>                
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/tacuba2.jpg" alt="CafeTacuba" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Cafe Tacuba </h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/primavera-sound.jpeg" alt="Primavera" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Cafe Tacuba </h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/angeles-azules.jpeg" alt="Los-angeles-azules" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Los Angeles Azules</h4>
                                <h5 class="fecha"> 10 de Diciembre </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/babasonicos.jpeg" alt="babasonicos" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Babasonicos </h4>
                                <h5 class="fecha"> 30 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/bad-bunny.jpeg" alt="bad-bunny" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Bad Bunny </h4>
                                <h5 class="fecha"> 12 de Noviembre </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/coldplay.jpeg" alt="coldplay" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Coldplay </h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/diego-torres.jpeg" alt="diego-torres" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Diego Torres </h4>
                                <h5 class="fecha"> 20 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/divididos.jpeg" alt="divididos" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Divididos </h4>
                                <h5 class="fecha"> 2 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/dua-lipa.jpeg" alt="dua-lipa" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Dua Lipa </h4>
                                <h5 class="fecha"> 9 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/guns.jpeg" alt="guns" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Guns </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                            <p><img src="/images/harry-styles.jpeg" alt="harry-styles" class="product_img-carrito">
                                <div class="main-article">
                                    <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                    <div class="datos-concierto-carrito">
                                        <h4 class="description"> Harry Styles </h4>
                                        <h5 class="fecha"> 1 de Septiembre </h5>
                                        <h5 class="hora"> 22:00 hs.</h5>
                                        <h5 class="lugar"> Estadio Velez</h5>
                                    </div>
                                </div>
                        </article>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/joss-stone.jpeg" alt="joss-stone" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Joss Stone </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/justin-bieber.jpeg" alt="justin-bieber" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> justin-bieber </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/karol-g.jpeg" alt="karol-g" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Karol G </h4>
                                    <h5 class="fecha"> 11 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/la-delio-valdez.jpeg" alt="la-delio-valdez" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> La Delio Valdez </h4>
                                    <h5 class="fecha"> 9 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/lali.jpeg" alt="lali" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Lali </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/louis.jpeg" alt="louis" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Louis </h4>
                                    <h5 class="fecha"> 15 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/luis-fonsi.jpeg" alt="luis-fonsi" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Luis Fonsi </h4>
                                    <h5 class="fecha"> 15 de Diciembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <p><img src="/images/ricardo-arjona.jpeg" alt="ricardo-arjona" class="product_img-carrito">
                            <div class="main-article">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Ricardo Arjona </h4>
                                    <h5 class="fecha"> 20 de Diciembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                </div>
        </section>                                   
    </main>
    <footer>
      <a href="/" ><img class="logo" src="images/banner.jpeg" alt="Logo"></a>
      <div class="info-center-left">
          <a href="#contact">¿Quienes somos?</a>
          <a href="#about">Terminos de uso</a>
      </div>
      <div class="info-center-right">
          <a href="#contact">Preguntas frecuentes</a>
          <a href="#about">¿Quieres vender con nosotros?</a>
      </div>
      <div class="social-media">
          <a href="" class = "facebook"><i class="fa-brands fa-facebook-f"></i></a> 
          <a href="" class = "instagram"><i class="fa-brands fa-instagram"></i></a> 
          <a href="" class = "mail"><i class="fa-solid fa-envelope"></i></a> 
      </div>
  </footer>

</body>
</html>