<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Home'}) %>
<body>
     <!-- Header -->
     <%- include('partials/header') %>
     <!-- Header -->
 
    <nav class="navbar">
        <ul class="nav-links">
            <div class="menu">
            <li class="register"><a href="/register">Registrate</a></li>
            <li class="login"><a href="/login"> Ingresá </i></a></li>
            <li class="productCart"><a href="/product/cart"> Mis compras </i></a></li>
            <li class="productDetail"><a href="/product/detail">Producto</a></li>
            </div>
        </ul>
    </nav>
    <main> 
        <section class="container">    
            <div class="main-article">
              <input type="text" placeholder="Buscar Artista o Evento" />  
            </div>
        </section>
        <div id="conteItemsCarrousel">
            <div class="contenedor-home1-">
                <div class="carrousel">
                    <div class="conteCarrousel">

                        <div class="itemCarrousel" id="itemCarrousel-1">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/duki.jpeg" alt="duki" class="product_img-carrousel">
                                </div>
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-10">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                                        "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-2">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                                        "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-2">
                            <div class="itemCarrouselTarjeta">
                                
                                <div class="evento-home">
                                    <img src="/images/rosalia.jpeg" alt="rosalia" class="product_img-carrousel">
                                </div>
   
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-1">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-3">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-3">
                            <div class="itemCarrouselTarjeta">
                                
                                <div class="evento-home">
                                    <img src="/images/yatra.jpeg" alt="yatra" class="product_img-carrousel">
                                </div>

                                
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-2">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-4">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-4">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/tacuba2.jpg" alt="CafeTacuba" class="product_img-carrousel">
                                </div>                                
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-3">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-5">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-5">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/primavera-sound.jpeg" alt="Primavera" class="product_img-carrousel">
                                </div>                                 
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-4">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-6">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-6">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/angeles-azules.jpeg" alt="Los-angeles-azules" class="product_img-carrousel">
                                </div>
                                                            
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-5">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-7">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-7">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/babasonicos.jpeg" alt="babasonicos" class="product_img-carrousel">
                                </div>
                               
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-6">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-8">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="itemCarrousel" id="itemCarrousel-8">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/bad-bunny.jpeg" alt="bad-bunny" class="product_img-carrousel">
                                </div>                                
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-7">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-9">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-9">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/coldplay.jpeg" alt="coldplay" class="product_img-carrousel">
                                </div>    
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-8">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-10">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-10">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">
                                    <img src="/images/la-delio-valdez.jpeg" alt="la-delio-valdez" class="product_img-carrousel">
                                </div>
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-9">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-11">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-11">
                            <div class="itemCarrouselTarjeta">
                                <div class="evento-home">                            
                                    <img src="/images/lali.jpeg" alt="lali" class="product_img-carrousel">
                                </div>
                            </div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-10">
                                    <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class=
                            "fa fa-angle-left" aria-hidden="true"></i></button>
                                </a>
                                <a href="#itemCarrousel-1">
                                    <button role="button" id="flecha-derecha" class="flecha-derecha"><i class=
                            "fa fa-angle-right" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="conteCarrouselController">
                        <a href="#itemCarrousel-1">•</a>
                        <a href="#itemCarrousel-2">•</a>
                        <a href="#itemCarrousel-3">•</a>
                        <a href="#itemCarrousel-4">•</a>
                        <a href="#itemCarrousel-5">•</a>
                        <a href="#itemCarrousel-6">•</a>
                        <a href="#itemCarrousel-7">•</a>
                        <a href="#itemCarrousel-8">•</a>
                        <a href="#itemCarrousel-9">•</a>
                        <a href="#itemCarrousel-10">•</a>
                        <a href="#itemCarrousel-11">•</a>

                    </div>
                
                </div>
              
            <div class="productos-home">
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/duki.jpeg" alt="duki" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a href="/product/error404" class="compra-carrito">
                                 Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Duki</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                            <img src="/images/rosalia.jpeg" alt="rosalia" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Rosalia</h4>
                                <h5 class="fecha"> 10 de Diciembre </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                            <img src="/images/yatra.jpeg" alt="yatra" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Sebastian Yatra</h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>                
                    <article class="contenedor-articulo-carrito-home">
                            <img src="/images/tacuba2.jpg" alt="CafeTacuba" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Cafe Tacuba </h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                            <img src="/images/primavera-sound.jpeg" alt="Primavera" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Cafe Tacuba </h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/angeles-azules.jpeg" alt="Los-angeles-azules" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Los Angeles Azules</h4>
                                <h5 class="fecha"> 10 de Diciembre </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/babasonicos.jpeg" alt="babasonicos" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Babasonicos </h4>
                                <h5 class="fecha"> 30 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/bad-bunny.jpeg" alt="bad-bunny" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Bad Bunny </h4>
                                <h5 class="fecha"> 12 de Noviembre </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/coldplay.jpeg" alt="coldplay" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Coldplay </h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/diego-torres.jpeg" alt="diego-torres" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Diego Torres </h4>
                                <h5 class="fecha"> 20 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/divididos.jpeg" alt="divididos" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Divididos </h4>
                                <h5 class="fecha"> 2 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/dua-lipa.jpeg" alt="dua-lipa" class="product_img-carrito-home">
                        <div class="main-article-home">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description"> Dua Lipa </h4>
                                <h5 class="fecha"> 9 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/guns.jpeg" alt="guns" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Guns </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                            <img src="/images/harry-styles.jpeg" alt="harry-styles" class="product_img-carrito-home">
                                <div class="main-article-home">
                                    <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                    <div class="datos-concierto-carrito">
                                        <h4 class="description"> Harry Styles </h4>
                                        <h5 class="fecha"> 1 de Septiembre </h5>
                                        <h5 class="hora"> 22:00 hs.</h5>
                                        <h5 class="lugar"> Estadio Velez</h5>
                                    </div>
                                </div>
                        </article>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/joss-stone.jpeg" alt="joss-stone" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Joss Stone </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/justin-bieber.jpeg" alt="justin-bieber" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> justin-bieber </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/karol-g.jpeg" alt="karol-g" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Karol G </h4>
                                    <h5 class="fecha"> 11 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/la-delio-valdez.jpeg" alt="la-delio-valdez" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> La Delio Valdez </h4>
                                    <h5 class="fecha"> 9 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/lali.jpeg" alt="lali" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Lali </h4>
                                    <h5 class="fecha"> 20 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/louis.jpeg" alt="louis" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Louis </h4>
                                    <h5 class="fecha"> 15 de Septiembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/luis-fonsi.jpeg" alt="luis-fonsi" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Luis Fonsi </h4>
                                    <h5 class="fecha"> 15 de Diciembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                    <article class="contenedor-articulo-carrito-home">
                        <img src="/images/ricardo-arjona.jpeg" alt="ricardo-arjona" class="product_img-carrito-home">
                            <div class="main-article-home">
                                <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                                <div class="datos-concierto-carrito">
                                    <h4 class="description"> Ricardo Arjona </h4>
                                    <h5 class="fecha"> 20 de Diciembre </h5>
                                    <h5 class="hora"> 22:00 hs.</h5>
                                    <h5 class="lugar"> Estadio Velez</h5>
                                </div>
                            </div>
                    </article>
                </div>
        </section>                                   
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->

</body>
</html>