<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Home'}) %>
<body>
    <!-- Header -->
      <%- include('partials/header') %>
    <!-- Header -->

    <nav class="navbar">
    <ul class="nav-links">
        <div class="menu">
        <li class="register"><a href="/register">Registrate</a></li>
        <li class="login"><a href="/login"> Ingresá </i></a></li>
        <li class="productCart"><a href="/event/cart"> Mis compras </i></a></li>
        <li class="productDetail"><a href="/event/detail">Producto</a></li>
        <li class="index1"><a href="/index">home2</a></li>
        </div>
    </ul>
    </nav>
    <main>
        <section class="container">    
          <div class="main-article">
            <input type="text" placeholder="Buscar Artista o Evento" />  
          </div>
        </section>
        
        <section class="card-row">
          <article class="card">
            <div class="row">
              <div class="column">
                  
                  
                  <img src="images/duki.jpeg" alt="Duki" class="product_img-carrito">
                  
                  <p>
                      
                      Duki en Buenos Aires</p>
              </div>
            </div>
          
          </article>
          <article class="card">
            <div class="row">
           
                <div class="column">
                    
                    <p><img src="images/tacuba2.jpg" alt="Duki" class="product_img-carrito"></p>
                    
                    <p>
                        
                        Cafe tacuba en Guadalajara</p>
                  
                </div>
              </div>
              </article> 
              
              <article class="card">
                <div class="row">
                 
                <div class="column">
                    
                    <p><img src="images/rosalia.jpeg" alt="Rosalia" class="product_img-carrito"></p>
                    <p>La Rosalía regresa a Argentina</p>
                  
                </div>
              </div>
            </article> 
            
            <article class="card">
              
                <div class="column">
                  
                    <p><img src="images/primavera-sound.jpeg" alt="Rosalia" class="product_img-carrito"></p>
                    <p>Primavera sound en concierto</p>
                  
                </div>
              </div>
            </div>
          </article> 
          

        </section>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->

</body>
</html>