<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Event | Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
</head>
<body>
 <!-- Header -->
 <%- include('partials/header') %>
 <!-- Header -->

    <section class="login-section">
        <div class="container-login">
            <form action="#">
                <div class="form-content">
                    <div class="login-form">
                        <div class="input-boxes">
                            <h3 class="title">Login</h3>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your password" required>
                            </div>
                            <div class="text">
                                <a href="#">Forgot password?</a>
                            </div>
                            <button class="login-button" type="submit">Login</button>
                            <div class="text">Don't have an account? 
                                <a href="/register">Signup now</a>
                            </div>
                        </div>
                    </div>
                    <a href="/">
                        <div class="image-container">
                        </div>
                    </a>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->
</body>
</html>