<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Evento'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Header -->
        <main>
            <article class="main-detail">
                <div class="portada-detail-img">
                    
                </div>
                <div>
                    <h1>Datos de la Orden</h1>
                    <p>Detalle de la orden</p>
                </div>
            </article>
        </main>        
        <!-- Footer -->
        <%- include('partials/footer') %>
        <!-- Footer -->      
    </body>
</html>