<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head', {title: 'Crear evento'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->



        <div class="PreguntasFrecuentes">
  
        <h1> PREGUNTAS FRECUENTES </h1>
       
            <h2> ¿Cómo compro una entrada para un evento en el estadio?</h2>
        
        <div aling = "justify">
        <p> Las entradas pueden adquirirse en nuestras boleterías ó a través del sistema Ticketportal, sitio: www.ticketportal.com.ar, de manera online.</p>

        </div>

        <h2> ¿Puedo reservar una entrada?</h2>
        <div aling = "justify">

        <p> Las entradas no pueden ser reservadas. </p>

        </div>


        <h2> ¿Puedo comprar mi ticket el día del evento?</h2>
        <div aling = "justify">

        <p> Las boleterías permanecerán abiertas hasta el comienzo de la función, pero no podemos asegurarte que haya disponibilidad de entradas ya que depende de la demanda de las mismas. <br>
            
            Por eso aconsejamos sacar las entradas con anticipación. </p>
        
        </div>


        <h2>  ¿Qué pasa si compro un ticket a través de un medio no oficial?</h2>
        <div aling = "justify">

        <p> Los únicos medios oficiales de venta son:<br>
            - Las boleterías del estadio.<br>
            - El sistema de venta TicketPortal (venta online, telefónica y sus puntos de venta).<br>
            Los lugares de compra de las entradas son debidamente promocionados en los canales oficiales.<br>
             Las entradas que se ofrezcan por fuera de estos últimos no podemos reconocerlas como válidas. <br>
            Sugerimos, no comprar entradas fuera de los medios oficiales. </p>

        </div>


        <h2>¿Cuáles son los horarios de atención de la boletería? </h2>
        <div aling = "justify">

        <p> Las entradas pueden adquirirse en nuestras boleterías los siguientes días y horarios:<br>
            Julio: Todos los días de 10 a 19 hs.</p>

        </div>



        <h2> ¿Cuántas entradas puedo comprar?</h2>
        <div aling = "justify">

        <p> Existe un límite de compra de hasta 4 entradas por persona.</p>

        </div>

        <h2> ¿Puedo abonar mi entrada con tarjeta de crédito?</h2>
        <div aling = "justify">

        <p> Se puede abonar con tarjetas en un pago.<br>
            Se aceptan: Visa, Visa débito, MasterCard, Maestro, Nativa (MasterCard) y American Express (de cualquier banco) y Visa de tarjeta NARANJA (como excepción).<br>
            No se aceptan NARANJA y CMR. <br>
            En caso de habilitarse más de un pago se informará en el evento publicado en www.lunapark.com.ar.<br>
            También se puede abonar en efectivo y con tarjeta de débito.<br>
            
            * Puede suceder que por acuerdo entre la productora del evento y una la entidad crediticia sólo se acepte una determinada tarjeta (ej.: sólo Visa). <br>
              Para constatar esto aconsejamos visitar el evento en nuestro sitio web oficial www.lunapark.com.ar<br>
            * Cuando terminado evento cuenta con preventa exclusiva para clientes de determinado Banco, en ese momento y hasta que se libere la venta general <br>
              solo  se aceptan las tarjetas emitidas por dicho Banco. Para constatar esto aconsejamos visitar el evento en nuestro sitio web oficial www.lunapark.com.ar </p>

        </div>

        <h2>¿Puedo comprar mi entrada con tarjeta de crédito y que la retire otra persona? </h2>
        <div aling = "justify">

        <p> La única persona autorizada a recibir o a retirar los tickets es quien figura en la tarjeta de crédito utilizada para dicha compra.</p>

        </div>

        <h2> ¿Se puede devolver la entrada?</h2>
        <div aling = "justify">

        <p> Las entradas no tienen cambio ni devolución. </p>

        </div>

        <h2>¿Los menores abonan entrada? </h2>
        <div aling = "justify">

        <p>Los menores abonan entrada a partir de los 4 años para cualquier evento y a partir de los 2 años para eventos infantiles ocupe o no butaca.<br>
             (no se permite el ingreso a menores de 4 años a eventos NO considerados infantiles). </p>

        </div>



        <h2>¿El concierto se cancela por lluvia? </h2>
        <div aling = "justify">

        <p> Los conciertos en nuestro estadio no se cancelan por lluvia.</p>

        </div>

        <h2> ¿Hay estacionamiento?</h2>
        <div aling = "justify">

        <p>El estadio  no cuenta con estacionamiento propio. En los alrededores se puede encontrar garajes privados con disponibilidad. </p>

        </div>

        <h2> ¿A qué hora se abren las puertas?</h2>
        <div aling = "justify">

        <p>Si el evento cuenta con el sector “campo de pie” las puertas se abren 2 hs. antes del comienzo del evento.<br>
            En caso de que el show no cuente este sector, las mismas se abren 1.30 hs. antes del comienzo. </p>

        </div>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
            </body>
        </html>
