<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Carrito'}) %>
    <body>
        <!-- Header -->
      <%- include('partials/header') %>
      <!-- Header -->
  
        <main>
            <section class="tus-futuros-conciertos">
                <h3 class="h3-carrito">Tus proximos Eventos</h3>
                <div class="productos">
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/eventos/lali.jpeg" alt="Lali" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-print"> <a class="imprimi"> Imprimí tu entrada! </a></i>
                            <i class="fa-solid fa-download"><a class="descarga"> Descarga tu factura!</a></i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Lali</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/eventos/angeles-azules.jpeg" alt="Angeles" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-print"><a class="imprimi"> Imprimí tu entrada! </a> </i>
                            <i class="fa-solid fa-download"><a class="descarga"> Descarga tu factura!</a></i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Los Angeles Azules</h4>
                                <h5 class="fecha"> 6 de Junio </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/eventos/bad-bunny.jpeg" alt="bad-bunny" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-print"> <a class="imprimi"> Imprimí tu entrada! </a> </i>
                            <i class="fa-solid fa-download"><a class="descarga"> Descarga tu factura!</a></i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Bad Bunny</h4>
                                <h5 class="fecha"> 13 de Noviembre </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section class="conciertos-recomendados">
                <h3 class=h3-carrito>En base a tus tickets te recomendamos los siguientes espectaculos</h3>
                <div class="productos">
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/eventos/duki.jpeg" alt="Duki" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Duki</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/eventos/rosalia.jpeg" alt="Rosalia" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Rosalia</h4>
                                <h5 class="fecha"> 10 de Diciembre </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/eventos/yatra.jpeg" alt="yatra" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Sebastian Yatra</h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </section>                    
        </main>  
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->
    </body>
</html>

