<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Mis Entradast</title>
        
    </head>
    <body>
        <header>
            <a href="/" ><img class="logo" src="/images/banner.jpeg" alt="Logo"></a>
            <div class="menu-right">
                <div class="header-right">
                    <a href="#contact"><i class="fa-solid fa-ticket"></i></a>
                    <a href="#about"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="burguer-menu">
                    <a href="" class = "hamburguer-button"><i class="fa-solid fa-bars"></i></a> 
                </div>
            </div>
        </header>
        <main>
            <section class="tus-futuros-conciertos">
                <h3 class="h3-carrito">Tus proximos Eventos</h3>
                <div class="register-section">
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/lali.jpeg" alt="Lali" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-print"> <a class="imprimi"> Imprimí tu entrada! </a></i>
                            <i class="fa-solid fa-download"><a class="descarga"> Descarga tu factura!</a></i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Lali</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/angeles-azules.jpeg" alt="Angeles" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-print"><a class="imprimi"> Imprimí tu entrada! </a> </i>
                            <i class="fa-solid fa-download"><a class="descarga"> Descarga tu factura!</a></i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Los Angeles Azules</h4>
                                <h5 class="fecha"> 6 de Junio </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/bad-bunny.jpeg" alt="bad-bunny" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-print"> <a class="imprimi"> Imprimí tu entrada! </a> </i>
                            <i class="fa-solid fa-download"><a class="descarga"> Descarga tu factura!</a></i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Bad Bunny</h4>
                                <h5 class="fecha"> 13 de Noviembre </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section class="conciertos-recomendados">
                <h3 class=h3-carrito>En base a tus tickets te recomendamos los siguientes espectaculos</h3>
                <div class="productos">
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/duki.jpeg" alt="Duki" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Duki</h4>
                                <h5 class="fecha"> 24 de Junio </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/rosalia.jpeg" alt="Rosalia" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Rosalia</h4>
                                <h5 class="fecha"> 10 de Diciembre </h5>
                                <h5 class="hora"> 20:00 hs.</h5>
                                <h5 class="lugar"> Estadio Luna Park</h5>
                            </div>
                        </div>
                    </article>
                    <article class="contenedor-articulo-carrito">
                        <img src="/images/yatra.jpeg" alt="yatra" class="product_img-carrito">
                        <div class="main-article">
                            <i class="fa-solid fa-bag-shopping"><a class="compra-carrito"> Comprá tu entrada! </a> </i>
                            <div class="datos-concierto-carrito">
                                <h4 class="description">Sebastian Yatra</h4>
                                <h5 class="fecha"> 12 de Agosto </h5>
                                <h5 class="hora"> 22:00 hs.</h5>
                                <h5 class="lugar"> Estadio Velez</h5>
                            </div>
                        </div>
                    </article>
                </div>
            </section>                    
        </main>  
    </body>
    <footer>
        <a href="/" ><img class="logo" src="/images/banner.jpeg" alt="Logo"></a>
        <div class="info-center-left">
            <a href="#contact">¿Quienes somos?</a>
            <a href="#about">Terminos de uso</a>
        </div>
        <div class="info-center-right">
            <a href="#contact">Preguntas frecuentes</a>
            <a href="#about">¿Quieres vender con nosotros?</a>
        </div>
        <div class="social-media">
            <a href="" class = "facebook"><i class="fa-brands fa-facebook-f"></i></a> 
            <a href="" class = "instagram"><i class="fa-brands fa-instagram"></i></a> 
            <a href="" class = "mail"><i class="fa-solid fa-envelope"></i></a> 
        </div>
    </footer>
</html>

