<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', {title: 'Register'}) %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- Header -->
    <section class="register-section">
        <div class="container-signup">
            <form action="#">
                <div class="form-content">
                    <div class="signup-f">
                        
                    </div>
                    <a href="/">
                        <div class="image-container">
                        </div>
                    </a>
                    <div class="signup-form">
                        <div class="input-boxes">
                            <h3 class="title">Sign up</h3>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your password" required>
                            </div>
                            <button type="submit">Sign up</button>
                            <div class="text">Already have an account? 
                                <a href="/login">Login now</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- Footer -->
</body>
</html>